<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
            switchValue="Critical,Information,ActivityTracing"
                propagateActivity="true">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <diagnostics>
      <messageLogging
              logEntireMessage="false"
              logMalformedMessages="true"
              logMessagesAtServiceLevel="true"
              logMessagesAtTransportLevel="false"
              maxMessagesToLog="500"
              maxSizeOfMessageToLog="5000"/>
    </diagnostics>

    <services>

      <service name="WCFConsultoras.WCFConsultorasService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="WCFConsultoras.IWCFConsultorasService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFConsultoras/WCFConsultorasService/" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxReceivedMessageSize="10000000"
                 maxBufferSize="10000000" closeTimeout="00:10:00"
                 openTimeout="00:10:00" receiveTimeout="00:10:00"
                 sendTimeout="00:10:00">

          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>


  <!--Cambiar la cadena de conexion el data source, intial catalog por el nombre de su base de datos-->
  <connectionStrings>

    <add name="MASTER"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="PE"
          connectionString="Data Source=.;Initial Catalog=ConsultorasBD2;Integrated Security=True"
          providerName="System.Data.SqlClient"/>

    <add name="CO"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD3;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="BO"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD4;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="GT"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD2;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="SV"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD3;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="EC"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD4;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="CL"
         connectionString="Data Source=.;Initial Catalog=ConsultorasBD2;Integrated Security=True"
         providerName="System.Data.SqlClient"/>


    <add name="PA"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD3;Integrated Security=True"
        providerName="System.Data.SqlClient"/>

    <add name="MX"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD4;Integrated Security=True"
        providerName="System.Data.SqlClient"/>

    <add name="CR"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD2;Integrated Security=True"
        providerName="System.Data.SqlClient"/>


    <add name="DO"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD3;Integrated Security=True"
        providerName="System.Data.SqlClient"/>


    <add name="PR"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD4;Integrated Security=True"
        providerName="System.Data.SqlClient"/>


    <add name="VE"
        connectionString="Data Source=.;Initial Catalog=ConsultorasBD2;Integrated Security=True"
        providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>